@charset "utf-8";
/* 头部 */
.head{
	border-top: 5px solid #09238B;
	height: 85px;
}
.head .he_top{
	position: absolute;
	right: 0;top: 0;
	width: 137px;
	height: 30px;
	background-color: #09238B;
	text-align: center;
	font-size: 12px;
	color: #fff;
	border-radius: 0 0 5px 5px;
	transform: translateY(-3px);
}
.head .he_top span{
	line-height: 30px;
	cursor: pointer;
}
.head .he_top em{
	margin: 0 15px;
}
.head .he_left{
	float: left;
	margin-top: 13px;
}
.head .he_right{
	margin-top: 58px;
	float: right;
}
.head .he_right li{
	float: left;
	margin-right: 26px;
}
.head .he_right li .active{
	color: #09238B;
	font-weight: bold;
}
.head .he_right li:nth-last-of-type(1){
	margin-right: 0px;
}
.head .he_right li a{
	font-size: 14px;
	color: #333333;
}
.head .he_right li a:hover{
	color: #09238B;
	font-weight: bold;
}


/* 导航 */
.nav{
	font-size: 0;
	height: 39px;
	border-top: 1px solid #CCCCCC;
}
.nav a,.nav span{
	font-size: 12px;
	color: #333333;
	line-height: 39px;
}
.nav span{
	margin: 0 5px;
}


/* 主体 */
span{
	margin-top: 10px;
	font-size: 12px;
	font-family: '微软雅黑';
	line-height: 20px;
}
.nr{
	height: 1216px;
	background-color: #F4F4F4;
	position: relative;
	margin-top: 10px;
}
.nr h3{
	padding-top: 42px;
	font-family: '微软雅黑';
	font-size:24px;
	color:#0F298D;
	line-height: 32px;
}
.nr .u1{
	width: 200px;
	height: 120px;
}
.nr span{
	font-size: 10px;
	color:#7C7C7C;
}
.nr .u1 li{
	width: 200px;
	height: 39px;
	line-height: 39px;
	font-size: 14px;
	font-family: '微软雅黑';
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #F4F4F4;
}
.nr .u1 li:hover{
	font-weight: bold;
	border-top-color:#DDDDDD;
}
.nr .u1 li:hover span{
	color:#10298E;
}
.nr .p1{
	position: absolute;
	top:48px;left:232px;
	font-weight: bold;
	font-size: 20px;
	font-family: '微软雅黑';
}
.nr img{
	position: absolute;
	top: 93px;left:232px;
}
.nr .u2{
	width: 705px;
	height: 405px;
	position: absolute;
	top:416px;left:232px;
	border-bottom:1px dashed #CBCBCB;
}
.nr .u2 li{
	font-size: 12px;
	line-height: 20px;
	padding-bottom: 12px;
	font-family: '微软雅黑';
	text-indent: 2em;
}
.nr h4{
	position: absolute;
	top:830px;left:232px;
	font-family: '微软雅黑';
	color:#0F298D;
	font-size: 16px;
}
.nr .p2{
	position: absolute;
	top:860px;left:232px;
	font-size: 12px;
	font-family: '微软雅黑';
	width: 773px;
	text-indent: 2em;
}
.nr h6{
	position: absolute;
	top:925px;left: 232px;
}
.nr .u3{
	position: absolute;
	top:947px;left:232px;
	width: 705px;
	border-bottom:1px dashed #CBCBCB;
}
.nr .u3 li{
	padding-left: 28px;
	font-size: 12px;
	font-family: '微软雅黑';
	line-height: 31px;
}
.nr h5{
	position: absolute;
	top:1050px;left:232px;
	font-family: '微软雅黑';
	color:#0F298D;
	font-size: 16px;
}
.nr .u4{
	position: absolute;
	top:1080px;left:232px;
}
.nr .u4 li{
	font-size: 12px;
	font-family: '微软雅黑';
	line-height: 34px;
}
/* 页面内容 */
/* 底部 */
.footer{
	height: 292px;
	border-top: 4px solid #09238B;
	background-color: #5F5F5F;
}
.footer .fo_top{
	height: 59px;
	padding: 31px 0 0 3px;
	box-sizing: border-box;
	border-bottom:1px solid #888888;
}
.footer .fo_top li{
	font-size: 12px;
	color: #FFFFFF;	
	float: left;
	margin-right: 93px;
}
.footer .fo_top li:nth-last-of-type(1){
	float: right;
	margin-right: 110px;
}
.footer .fo_center{
	padding-left: 3px;
	box-sizing: border-box;
	float: left;
	width: 100%;
	height: 162px;
}
.footer .fo_center li{
	width: 141px;
	float: left;
	font-size: 10px;
	line-height: 30px;
	padding-top: 20px;
	box-sizing: border-box;
}
.footer .fo_center li a{
	display: block;
	color: #C5C5C5;
}

.footer .fo_center li:nth-last-of-type(1){
	width: 193px;
	float: right;
}
.footer .fo_center li div{
	width: 84px;
	height: 120px;
	float: left;
	text-align: center;
	margin-right: 25px;
}
.footer .fo_center li div:nth-child(2){
	margin-right: 0;
}
.footer .fo_center li div span{
	display: block;
	color: #C5C5C5;
}

.footer strong{
	display: inline-block;
	width: 100%;
	height: 1px;
	background-image: linear-gradient(to right,transparent,#7D7D7D,transparent);
}
.footer p{
	font-size: 12px;
	color: #C5C5C5;
	box-sizing: border-box;
	padding: 18px 0 0 3px;
}
.footer p span{
	float: right;
}
.footer p span a{
	color: #C5C5C5;
}
.footer p span em{
	margin: 0 13px;
}















