@charset "utf-8";
/* 头部 */
.head{
	border-top: 5px solid #09238B;
	height: 85px;
}
.head .he_top{
	position: absolute;
	right: 0;top: 0;
	width: 137px;
	height: 30px;
	background-color: #09238B;
	text-align: center;
	font-size: 12px;
	color: #fff;
	border-radius: 0 0 5px 5px;
	transform: translateY(-3px);
}
.head .he_top span{
	line-height: 30px;
	cursor: pointer;
}
.head .he_top em{
	margin: 0 15px;
}
.head .he_left{
	float: left;
	margin-top: 13px;
}
.head .he_right{
	margin-top: 58px;
	float: right;
}
.head .he_right li{
	float: left;
	margin-right: 26px;
}
.head .he_right li .active{
	color: #09238B;
	font-weight: bold;
}
.head .he_right li:nth-last-of-type(1){
	margin-right: 0px;
}
.head .he_right li a{
	font-size: 14px;
	color: #333333;
}
.head .he_right li a:hover{
	color: #09238B;
	font-weight: bold;
}


/* 导航 */
.nav{
	font-size: 0;
	height: 39px;
	border-top: 1px solid #CCCCCC;
}
.nav a,.nav span{
	font-size: 12px;
	color: #333333;
	line-height: 39px;
}
.nav span{
	margin: 0 5px;
}


/* 主体 */
.main{
	height: 980px;
	background-color: #FCFCFC;
	padding-top: 45px;
	box-sizing: border-box;
}
.main .ma_left{
	width: 200px;
	float: left;
}
.main .ma_left li{
	width: 200px;
	border-bottom: 1px solid #ccc;
	line-height: 39px;
	font-size: 14px;
	cursor: pointer;
}
.main .ma_left li h5{
	color: #10298E;
	font-size: 26px;
}
.main .ma_left li:hover{
	font-weight: bold;
}
.main .ma_left li:hover span{
	color: #10298E;
}

.main .ma_right{
	width: 768px;
	margin-left: 31px;
	float: left;
}
.main .ma_right h6{
	border-bottom: 1px solid #ccc;
	font-size: 20px;
	color: black;
	line-height: 38px;
	margin-bottom: 18px;
}
.main .mr_center{
	height: 250px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
.main .mr_center .mr_left{
	float: left;
}
.main .mr_center .mr_left p{
	width: 500px;
	text-indent: 2em;
	margin-top: 20px;
}
.main .mr_center .mr_img{
	margin-top: 40px;
	float: right;
}

.main .mr_bottom h6{
	width: 142px;
	height: 39px;
	line-height: 39px;
	color: #fff;
	font-weight: normal;
	background-color: #10298E;
	text-align: center;
	font-size: 18px;
}
.main .mr_bottom ul{
	height: 195px;
	border-top: 2px solid #10298E;
	transform: translateY(-20px);
	padding-top: 15px;
	box-sizing: border-box;
	border-bottom: 1px dashed #ccc;
}
.main .mr_bottom ul li{
	line-height: 32px;
	font-size: 12px;
}
.main .mr_bottom ul li a{
	color: black;
}
.main .mr_bottom ul li em{
	float: right;
}

.main .ma_right p{
	font-size: 0;
}
.main .ma_right p a{
	font-size: 12px;
	color: black;
}
.main .ma_right p span{
	font-size: 12px;
	margin: 0 3px;
}
.main .ma_right p em{
	font-size: 12px;
	float: right;
}



/* 页面内容 */
/* 页面内容 */
/* 页面内容 */














/* 底部 */
.footer{
	height: 292px;
	border-top: 4px solid #09238B;
	background-color: #5F5F5F;
}
.footer .fo_top{
	height: 59px;
	padding: 31px 0 0 3px;
	box-sizing: border-box;
	border-bottom:1px solid #888888;
}
.footer .fo_top li{
	font-size: 12px;
	color: #FFFFFF;	
	float: left;
	margin-right: 93px;
}
.footer .fo_top li:nth-last-of-type(1){
	float: right;
	margin-right: 110px;
}
.footer .fo_center{
	padding-left: 3px;
	box-sizing: border-box;
	float: left;
	width: 100%;
	height: 162px;
}
.footer .fo_center li{
	width: 141px;
	float: left;
	font-size: 10px;
	line-height: 30px;
	padding-top: 20px;
	box-sizing: border-box;
}
.footer .fo_center li a{
	display: block;
	color: #C5C5C5;
}

.footer .fo_center li:nth-last-of-type(1){
	width: 193px;
	float: right;
}
.footer .fo_center li div{
	width: 84px;
	height: 120px;
	float: left;
	text-align: center;
	margin-right: 25px;
}
.footer .fo_center li div:nth-child(2){
	margin-right: 0;
}
.footer .fo_center li div span{
	display: block;
	color: #C5C5C5;
}

.footer strong{
	display: inline-block;
	width: 100%;
	height: 1px;
	background-image: linear-gradient(to right,transparent,#7D7D7D,transparent);
}
.footer p{
	font-size: 12px;
	color: #C5C5C5;
	box-sizing: border-box;
	padding: 18px 0 0 3px;
}
.footer p span{
	float: right;
}
.footer p span a{
	color: #C5C5C5;
}
.footer p span em{
	margin: 0 13px;
}















